*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.full{
    width: 100%;
    background: #f6f6f6;
    min-height: 100vh;
}

.inner_full{
    width: 90%;
    margin: auto;
}

.header{
    background: #c62828;
    padding: 20px;
    text-align: center;
    color: white;
    margin-top: 20px;
    border-radius: 5px;
}

.container{
    background: white;
    padding: 25px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #ccc;
}

.title{
    text-align: center;
    margin-bottom: 20px;
    color: #d36565;
}

/* TABLE STYLING */
.donor-table{
    width: 100%;
    border-collapse: collapse;
    margin: auto;
}

.donor-table th{
    background: #803d3d;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ddd;
}

.donor-table td{
    text-align: center;
    padding: 10px;
    height: 40px;
    border: 1px solid #ddd;
    font-size: 14px;
}

.donor-table tr:nth-child(even){
    background: #f2f2f2;
}

.footer{
    background: #c62828;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 25px;
    border-radius: 5px;
}

/* Logout Button */
.logout-btn{
    display: inline-block;
    margin-top: 15px;
    background: #dd7777;
    color: white;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 4px;
}

.logout-btn:hover{
    background: #d32f2f;
}

/* Responsive */
@media only screen and (max-width: 768px){
    .donor-table th, .donor-table td{
        font-size: 12px;
        padding: 6px;
    }
}
