
body {
    background: #ffeaea;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.text-box h2 {
    color: #b00020;
}
.header {
    background: #d62828;
    padding: 20px;
    color: white;
    text-align: center;
}
.full{
    width: 100%;
    height:100%;
}
.inner_full{
    width:100%;
    margin: auto;
    height:auto;
}

.container {
    max-width: 550px;
    background: white;
    padding: 25px;
    margin: 40px auto;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}

.container h2 {
    text-align: center;
    color: #c1121f;
    margin-bottom: 20px;
}


label {
    font-weight: bold;
    color: #333;
}


input, select, textarea {
    width: 100%;
    padding: 12px;
    margin: 8px 0 18px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

textarea {
    resize: none;
}


button {
    width: 100%;
    padding: 12px;
    background: #d62828;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #a00c0c;
}
.footer{
    width:100%;
    height:50px;
    background-color: rgb(241, 107, 107);
}

/* Responsive Design */
@media (max-width: 480px) {
    .container {
        width: 90%;
        margin-top: 20px;
    }
}
