*{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#fce4e4;
}


.header{
    background:#c62828;
    text-align:center;
    padding:20px;
    color:white;
    font-size:26px;
}


.main{
    width:85%;
    margin:30px auto;
    text-align:center;
}

.title{
    font-size:34px;
    color:#b71c1c;
}

.subtitle{
    font-size:18px;
    margin-top:10px;
    color:#444;
}


.form-section{
    display:flex;
    background:white;
    padding:25px;
    border-radius:12px;
    margin-top:30px;
    box-shadow:0 0 10px #ccc;
    gap:25px;
}

.form-left{
    width:35%;
    padding:20px;
    border-right:2px solid #eee;
}

.form-left h3{
    color:#c62828;
    margin-bottom:10px;
}

.form-left p{
    color:#444;
}

.form-container{
    width:65%;
    text-align:left;
}

.form-container h2{
    text-align:center;
    color:#c62828;
    margin-bottom:20px;
}

form label{
    font-weight:bold;
    margin-top:10px;
    display:block;
}

form input, form select{
    width:100%;
    padding:10px;
    margin-top:5px;
    border-radius:5px;
    border:1px solid #888;
    margin-bottom:15px;
}

.btn{
    background:#c62828;
    color:white;
    padding:12px 20px;
    border:none;
    border-radius:6px;
    font-size:16px;
    cursor:pointer;
    width:100%;
}

.btn:hover{
    background:#b71c1c;
}


.list-title{
    font-size:30px;
    color:#b71c1c;
    margin-top:40px;
    margin-bottom:15px;
}

.list-container{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
}

.list-card{
    width:260px;
    background:white;
    border-radius:12px;
    padding:18px;
    text-align:center;
    box-shadow:0 0 10px #bbb;
    transition:0.3s;
}

.list-card:hover{
    transform:scale(1.07);
    box-shadow:0 0 15px #888;
}

.list-img{
    width:90px;
    height:90px;
}

.card-btn{
    margin-top:12px;
    padding:10px 20px;
    border:none;
    background:#c62828;
    color:white;
    border-radius:6px;
    cursor:pointer;
}

.card-btn:hover{
    background:#b71c1c;
}


.footer{
    margin-top:40px;
    background:#c62828;
    color:white;
    text-align:center;
    padding:15px;
}
