*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:#faeaea;
}


.header{
    background:#c62828;
    color:white;
    text-align:center;
    padding:20px;
    font-size:26px;
}


.main{
    width:85%;
    margin:30px auto;
    text-align:center;
}

.title{
    font-size:34px;
    color:#b71c1c;
}

.subtitle{
    font-size:18px;
    color:#444;
    margin-top:10px;
    margin-bottom:30px;
}

/* NGO CARDS */
.ngo-container{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.ngo-card{
    width:260px;
    background:white;
    border-radius:12px;
    box-shadow:0px 0px 15px #ccc;
    padding:20px;
    text-align:center;
    transition:0.3s;
}

.ngo-card:hover{
    transform:scale(1.07);
    box-shadow:0px 0px 20px #999;
}

.ngo-img{
    width:100%;
    height:160px;
    border-radius:10px;
    margin-bottom:15px;
}

.ngo-card h3{
    color:#c62828;
    margin-bottom:8px;
}

p{
    font-size:15px;
    color:#444;
}

.btn{
    margin-top:12px;
    background:#c62828;
    color:white;
    padding:10px 20px;
    border:none;
    border-radius:6px;
    cursor:pointer;
    font-size:15px;
}

.btn:hover{
    background:#b71c1c;
}


.footer{
    margin-top:40px;
    text-align:center;
    background:#c62828;
    color:white;
    padding:15px;
}
