*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:#f8f8f8;
}


.header{
    width:100%;
    padding:20px;
    text-align:center;
    background:#f44d4d;
    color:rgb(28, 23, 23);
    font-size:26px;
    font-weight:bold;
    letter-spacing:1px;
}

.hero{
    width:100%;
    height:80vh;
    background:url('https://tse3.mm.bing.net/th/id/OIP.bqjxfvN7NLPwuTbfhzKQ1gHaEH?pid=Api&P=0&h=220') no-repeat center center/cover;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    color:#fff;
    text-shadow:0px 0px 10px black;
    padding:20px;
}

.hero h1{
    font-size:45px;
    margin-bottom:15px;
}

.hero p{
    font-size:30px;
    width:70%;
    text-align:center;
    margin-bottom:25px;
}

.login-btn{
    background:#efecec;
    padding:12px 25px;
    font-size:18px;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
    text-decoration:none;
}

.login-btn:hover{
    background:#cc0000;
}


.info-section{
    padding:40px;
    text-align:center;
}

.info-section h2{
    color:#c62828;
    margin-bottom:20px;
}


.cards{
    display:flex;
    justify-content:center;
    gap:30px;
    margin-top:30px;
    flex-wrap:wrap;
}

.card{
    width:300px;
    background:white;
    border-radius:10px;
    box-shadow:0px 0px 10px #ccc;
    padding:20px;
}

.card img{
    width:100%;
    height:180px;
    border-radius:10px;
    margin-bottom:10px;
}

.card h3{
    color:#b71c1c;
    margin-bottom:10px;
}


.footer{
    text-align:center;
    background:#c62828;
    color:white;
    padding:15px;
    margin-top:40px;
    font-size:15px;
}


@media only screen and (max-width:768px){
    .hero h1{ font-size:32px; }
    .hero p{ width:90%; font-size:16px; }

    .cards{
        flex-direction:column;
        align-items:center;
    }

    .card{
        width:90%;
    }
}
