*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:#fef2f2;
}

/* HEADER */
.header{
    background:#c62828;
    padding:20px;
    text-align:center;
    color:white;
    font-size:26px;
    font-weight:bold;
}

/* MAIN CONTENT */
.main{
    width:80%;
    margin:30px auto;
    text-align:center;
}

.title{
    font-size:34px;
    color:#b71c1c;
    margin-bottom:10px;
}

.subtitle{
    font-size:18px;
    color:#444;
    margin-bottom:25px;
}

/* CARD LAYOUT */
.card-container{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
}

.card{
    width:230px;
    padding:20px;
    border-radius:12px;
    box-shadow:0px 0px 10px #ccc;
    background:white;
    transition:0.3s;
}

.card:hover{
    transform:scale(1.06);
    box-shadow:0px 0px 14px #aaa;
}

.icon{
    width:80px;
    height:80px;
    margin-bottom:10px;
}

.card h2{
    font-size:32px;
    color:#c62828;
}

.card p{
    font-size:18px;
    margin-top:8px;
}

.danger{
    color:#d32f2f;
    font-weight:bold;
}

/* FOOTER */
.footer{
    margin-top:20px;
    padding:15px;
    text-align:center;
    background:#c62828;
    color:white;
}
