*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:#f5f5f5;
}

.header{
    background:#c62828;
    padding:20px;
    text-align:center;
    color:white;
    font-size:25px;
}

.container{
    width:80%;
    background:white;
    margin:30px auto;
    padding:30px;
    border-radius:10px;
    box-shadow:0px 0px 12px #ccc;
}

.title{
    text-align:center;
    margin-bottom:20px;
    color:#c62828;
}

.stock-table{
    width:100%;
    border-collapse:collapse;
}

.stock-table th{
    background:#b71c1c;
    color:white;
    padding:12px;
    border:1px solid #ddd;
}

.stock-table td{
    text-align:center;
    padding:10px;
    border:1px solid #ddd;
}

input[type="number"]{
    width:60px;
    padding:5px;
    border-radius:4px;
    border:1px solid #888;
}

.btn{
    padding:5px 12px;
    background:#c62828;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
    margin-left:5px;
}

.btn:hover{
    background:#e53935;
}

.footer{
    margin-top:20px;
    text-align:center;
    background:#c62828;
    padding:15px;
    color:white;
}
